<div id="<%= dom_id move %>">
  <p>
    <strong>Id:</strong>
    <%= move.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= move.name %>
  </p>

  <p>
    <strong>Accuracy:</strong>
    <%= move.accuracy %>
  </p>

  <p>
    <strong>Pp:</strong>
    <%= move.pp %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= move.power %>
  </p>

  <p>
    <strong>Damage class:</strong>
    <%= move.damage_class %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= move.priority %>
  </p>

  <p>
    <strong>Move type:</strong>
    <%= move.move_type %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= move.type_id %>
  </p>

</div>
