<div id="<%= dom_id move %>">
  <h2 class="text-center"><%= move.name %></h2>
  <div class="m-auto border border-3 border-danger mb-2 w-50 fs-5" style="border-radius: 12px;">
    <div class="d-flex justify-content-evenly" >
      <div class="m-1 d-flex">Type: <%= link_to move.type.name, move.type, class: "type #{move.type.name.downcase}-type text-decoration-none rounded-pill px-4 text-center ms-2" %></div>
      <div class="m-1">Category: <%= move.damage_class %></div>
    </div>
    <div class="border-top border-3 border-danger px-3 py-1 d-flex justify-content-evenly">
      <div>Power: <%= move.power %></div>
      <div>PP: <%= move.pp %></div>
      <div>Accuracy: <%= move.accuracy %>%</div>
    </div>
    <div class="border-top border-3 border-danger px-3 py-1">
      <div>Description:</div>
      <div><%= move.effect %></div>
    </div>
  </div>
  <div class="text-center fs-4">Pokémon</div>
  <div class="m-auto d-flex flex-wrap justify-content-start border border-3 border-danger mb-2 w-50" style="border-radius: 12px;">
    <% (move.pokemons.sort_by &:name).each do |pokemon| %>
      <%= link_to pokemon.name, pokemon, class: "flex-cell p-1 text-start text-decoration-none",  style: "width: 20%;" %>
    <% end %>
  </div>
</div>
