<div class="mt-3" id="pokemon">
  <% @pokemen.in_groups_of(5) do |a, b, c, d, e| %>
    <div class="row">
      <div class="col">
        <%=link_to(image_tag(a&.sprite, class: "img-thumbnail bg-light"), pokemon_path(a), class: "navbar-brand") %>
        <p class="mb-0">#<%= "%04d" % [a&.id]  %></p>
        <p class="fw-bold text-center fs-4"><%= a&.name.capitalize() %></p>
      </div>
      <div class="col">
        <img src=<%= b&.sprite %> class="img-thumbnail bg-light" alt=<%= b&.name %>>
        <p class="mb-0">#<%= "%04d" % [b&.id]  %></p>
        <p class="fw-bold text-center fs-4"><%= b&.name.capitalize() %></p>
      </div>
      <div class="col">
        <img src=<%= c&.sprite %> class="img-thumbnail bg-light" alt=<%= c&.name %>>
        <p class="mb-0">#<%= "%04d" % [c&.id]  %></p>
        <p class="fw-bold text-center fs-4"><%= c&.name.capitalize() %></p>
      </div>
      <div class="col">
        <img src=<%= d&.sprite %> class="img-thumbnail bg-light" alt=<%= d&.name %>>
        <p class="mb-0">#<%= "%04d" % [d&.id]  %></p>
        <p class="fw-bold text-center fs-4"><%= d&.name.capitalize() %></p>
      </div>
      <div class="col">
        <img src=<%= e&.sprite %> class="img-thumbnail bg-light" alt=<%= e&.name %>>
        <p class="mb-0">#<%= "%04d" % [e&.id]  %></p>
        <p class="fw-bold text-center fs-4"><%= e&.name.capitalize() %></p>
      </div>
    </div>
  <% end %>
</div>
